h1 {
  color:#8A6C65;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ol{
  line-height: 40px;
  font-style:italic;
}
strong {
  font-style: italic;
}
em {
  font-weight: bolder;
  font-style: normal;
  line-height: 40px;
  font-size: 40px;
}
